@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
  background-color: #ffffff;
  font-family: sans-serif;
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  text-align: justify;
  margin: 12 auto;
  margin-left: 8rem;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.7;
  font-family: 'Source Sans 3';
  font-size: 1.5rem
}

/* For # (h1) */
.post-content h1 {
  color: #41b23b;
}

/* For ## (h2) */
.post-content h2 {
  color: #2d71bb;
  font-size: 2.2rem
}

/* For ### (h3) */
.post-content h3 {
  color: #f46717;
  font-size: 2rem;
}

.post-content h2 {
  /* Reduces space between the heading and the text BELOW it */
  margin-bottom: 3.8rem; 
  
  /* OPTIONAL: Reduces space between the heading and the text ABOVE it */
  margin-top: -1.5rem; 

  /* Keeps multi-line titles from looking too spread out */
  line-height: 1.1; 
}

.post-content h1 {
  /* Reduces space between the heading and the text BELOW it */
  margin-bottom: 3.8rem; 
  
  /* OPTIONAL: Reduces space between the heading and the text ABOVE it */
  margin-top: 1.8rem; 

  /* Keeps multi-line titles from looking too spread out */
  line-height: 0.1; 
}

* {
  box-sizing: border-box;
}

.post-content img {
  display: block;       /* Makes the image behave like a block, not text */
  margin-left: 0;       /* Forces alignment to the left */
  margin-right: auto;   /* Pushes empty space to the right */
  max-width: 60%;      /* Ensures it doesn't overflow mobile screens */
  display: block; /* Removes bottom margin gap */
  border-radius: 8px; /* Optional styling */
}

.post-content img {
  display: block;
  margin-left: -2rem; /* 2. Push from the left */
  margin-right: auto;/* 3. Push from the right */
  max-width: 60%;
  height: auto;
  display: block; /* Removes bottom margin gap */
  border-radius: 8px; /* Optional styling */
}
z
h1 {
  color:rgb(189, 7, 116);
  margin: 2rem 0;
  font-size: 2.5rem;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.katex {
  font-size: 0.9em !important;
}