@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* --- GLOBAL SETTINGS --- */
html {
  background-color: #ffffff;
  font-family: sans-serif;
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  text-align: justify;
  margin: 0 auto;
  margin-left: 8rem; 
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.7;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

/* --- HEADINGS --- */

h1, .post-content h1 {
  color: #41b23b; 
  font-size: 2.5rem;
  margin-top: 1.8rem;
  margin-bottom: 3.8rem;
  line-height: 1.1;
  clear: both; 
}

.post-content h2 {
  color: #2d71bb;
  font-size: 2.2rem;
  margin-top: -1.5rem;
  margin-bottom: 3.8rem;
  line-height: 1.1;
  clear: both;
}

.post-content h3 {
  clear: both;           
  margin-top: 3rem;      
  padding-top: 1rem;     
  color: #f46717;
  font-size: 2rem;
  width: 100%;
}

/* --- IMAGE LAYOUT --- */

.post-content img {
  float: left;            
  width: 50%;             
  height: auto;
  
  /* Margins */
  margin-left: -2rem;     
  margin-right: 2.5rem;   
  margin-bottom: 2rem;    
  
  object-fit: scale-down; 
  border-radius: 8px;     
}

/* --- TEXT LAYOUT --- */

/* Fix: Unwrap images from their P tags so the float works correctly */
.post-content p:has(img) {
  display: contents;
}

/* Force text blocks to respect the float and form a column */
.post-content p,
.post-content ul,
.post-content ol,
.post-content blockquote {
  display: flow-root; 
}

/* --- UTILITIES --- */

.center-img {
  display: block;
  float: none !important; 
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
}

.katex {
  font-size: 0.9em !important;
}