@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html {
  background-color: #ffffff;
  font-family: sans-serif;
}

@font-face {
  font-family: 'DistantGalaxy';
  src: url('/fonts/DistantGalaxy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body {
  margin: 10 auto;
  width: 100%;
  max-width: 100ch;
  padding: 1rem;
  line-height: 1.7;
  font-family: 'Source Sans 3';
  font-size: 1.5rem
}

/* For # (h1) */
.post-content h1 {
  color: #41b23b; /* Example: A strong red */
}

/* For ## (h2) */
.post-content h2 {
  color: #2d71bb; /* Example: A deep blue */
}

/* For ### (h3) */
.post-content h3 {
  color: #f46717; /* Example: A solid green */
  font-size: 2rem;
}

* {
  box-sizing: border-box;
}

h1 {
  color:rgb(189, 7, 116);
  margin: 2rem 0;
  font-size: 2.5rem;
}

/* nav styles */

.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}

.nav-links {
  width: 100%;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #85680b;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}

/* Esse código gera a visualização dinâmica para tables, celulares etc. */

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

    .menu {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ff9776;
}

.katex {
  font-size: 0.9em !important;
}