---
// src/layouts/CapituloLayout.astro
import '../styles/capitulos.css';
import MenuCapitulos from '../components/MenuCapitulos.astro';

const { frontmatter, headings } = Astro.props; 
---

<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>{frontmatter.title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      crossorigin="anonymous"
    >
  </head>
  <body>
    
    <MenuCapitulos />

    <main>
      <article class="post-content">
        <slot />
      </article>
    </main>

  </body>
</html>