body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Quadro-de-texto-b-sico {
	border-style:solid;
}
p.Corpo {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-align-last:left;
	text-decoration:none;
	text-indent:28px;
	text-transform:none;
	widows:1;
}
p.Grafico {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.333;
	margin-bottom:340px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Titulo-Capitulo {
	-epub-hyphens:none;
	color:#3a6eac;
	font-family:"Myriad Pro Light", sans-serif;
	font-size:13px;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	line-height:1.2;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Bold-Corpo {
	font-family:"Myriad Pro Light", sans-serif;
	font-style:normal;
	font-weight:600;
}
span.Indice {
	font-family:"Myriad Pro Light", sans-serif;
	font-size:8px;
	font-style:normal;
	font-weight:600;
}
p.ParaOverride-1 {
	margin-bottom:218px;
}
p.ParaOverride-2 {
	margin-bottom:281px;
}
p.ParaOverride-3 {
	text-indent:0px;
}
p.ParaOverride-4 {
	margin-bottom:340px;
	text-indent:0px;
}
p.ParaOverride-5 {
	margin-bottom:20px;
}
span.CharOverride-1 {
	color:#6fa43a;
	font-size:18px;
}
span.CharOverride-2 {
	color:#d37d00;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#d37d00;
}
span.CharOverride-4 {
	font-family:Symbol, sans-serif;
	font-style:normal;
	font-weight:normal;
}
p._idGenParaOverride-1 {
	page-break-after:always;
}
img._idGenObjectAttribute-1 {
	height:318px;
	width:425px;
}
img._idGenObjectAttribute-2 {
	height:318px;
	width:426px;
}
img._idGenObjectAttribute-3 {
	height:539px;
	width:426px;
}
img._idGenObjectAttribute-4 {
	height:196px;
	width:426px;
}
img._idGenObjectAttribute-5 {
	height:269px;
	width:425px;
}
